{% extends 'base.html' %}
{% load static %}

{% block title %} Contact {% endblock title %}

{% block main %}
{% include 'testimony.html' %}
<h1>Contact</h1>
<img src="{% static 'assets/6.png' %}" alt="contact image" width="250px" >
<p>via Twitter, Whatsapp, Tiktok</p>

<form action="" method="post">
{% csrf_token %}
<label for="">Name</label><br>
<input type="text" name="fullname"><br>
<label for="">Email</label><br>
<input type="email" name="email"><br>
<label for="">Message</label><br>
<textarea id="" cols="20" rows="10" name="about"></textarea><br>

<button>Submit</button>
</form>

{% endblock main %}